@charset="utf-8";

html {
	height: 100%;
	width : 100%;
	font-size: 100%;
}

@media (min-width: 640px) {
  html { font-size: 112%; }
}
@media (min-width: 1024px) {
  html { font-size: 120%; }
}

body {
	height    : 100%;
	width     : 100%;
	overflow-y: scroll;
}

* {
	margin : 0;
	padding: 0;
    box-sizing: border-box;
}

h1 {
    color: #00bfff;
}

h1, h2, h3, h4, h5 {
    margin:.5em 0 .4em;
}

p {
    font-size  : 1em;
    line-height: 1.45em;
    margin     : 0.5em 0;
}

img {
	height: auto !important;
	width : 100%;
}

table, td {
	border-collapse: collapse;
}

.headerContainer {
	width:100%;
	height: 50px;
	padding: 16px;
	background-color: #f9f9f9;
	border-bottom:1px solid #999;
	z-index: 999;
}

.logoTextContainer {
	padding: 0 30px 0 12px;
	color: rgba(119,119,119,.5);
	z-index: 999;
	font-family: monospace;
}

.exampleContainer {
	margin: 40px 22px 80px 322px;
	position: relative;
}

pre {
	font-family: "Courier 10 Pitch", Courier, monospace;
	font-size  : 95%;
	line-height: 140%;
	margin     : 10px 0 45px 0;
	white-space: -moz-pre-wrap;
	white-space: -o-pre-wrap;
	white-space: pre-wrap;
	white-space: pre;
}
code {
	background : #fcfcfb;
	border     : 1px solid #bebab0;
	display    : block;
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
	font-size  : 95%;
	line-height: 140%;
	overflow   : auto;
	padding    : 0.5em 1em;
	white-space: -moz-pre-wrap;
	white-space: -o-pre-wrap;
	white-space: pre-wrap;
	white-space: pre;
}

.menuContainer {
	position: fixed;
	left: 0;
	top: 50px;
	bottom: 0;
	width: 300px;
	padding: 16px;
	background-color: #f9f9f9;
	border-right:1px solid #999;
	padding-left: 60px;
}

.menuButton {
	color: #282a2e;
	text-decoration: none;
	font-family: monospace;
}

.menuButtonContainer {
	margin: 5px 0;
}
